@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "typewriter";
  src: url("/fonts/mom.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-family: "typewriter" !important;
}

a {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
